//tipografía
$font-title:'Roboto';
$font: 'Roboto Flex';


//medidas varias
$padding: 20px 20px;
$margin: 50px 50px;


//mapa de colores
$colors: (primary: rgb(243, 240, 240), secondary:rgba(223, 209, 173, 0.377), foot:rgb(154, 141, 107));

