@import 'variables';

@function color($color-name) {
    @return map-get($colors, $color-name);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body,

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}


html {
    background: color(primary);
    font-family: $font;
}

header {
    .navbar .container-fluid {
        flex-direction: column;
        align-items: flex-start;
    }
}


h1 {
    font-family: $font-title;
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.titulo-principal {
    margin-top: 30px;

    .titulo2 {
        margin: 10px;
        text-decoration: underline;
    }

    .subrayado:hover {
        text-decoration: underline;
        background-color: #ece9e9;
    }
}


h2 {
    font-family: $font-title;
    text-decoration: underline;
    margin: 10px;
}

p {
    margin: 8px;
    color: black;
    font-weight: 600;
}

.titgaleria {
    margin: 20px;
    font-weight: bold;
}


.guitarra-venta {
    display: grid;
    grid-template-columns: auto, auto, auto;
    justify-content: space-around;

    .card {
        margin-top: 60px;
    }

    .boton {
        text-align: center;
        margin-top: 20px;
    }

    h5:hover {
        text-decoration: underline;
    }
}


.sucursal1 {
    padding: 15px 15px;
    margin: 10px 10px;
    background: color(secondary);
    border-top: 5px solid #b7b7a4;

    .ubicacion{
        width: 100%;
    }
}

.subrayado1:hover {
    text-decoration: underline;
    background-color: #ece9e9;
}

.videog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .videos {
        margin: 30px;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
}

.slide {
    margin-top: 50px;
    margin-bottom: 20px;
}

.textocont {
    margin-left: 30px;
}

.textarea {
    display: flex;
    border-radius: 7px;
    border: 2px solid black;
    margin: 15px;
    width: 80%;
}

footer {
    font-family: $font-title;
    padding: 1em 0;
    margin-top: 50px;
}



@media screen and (min-width: 768px) {


    .guitarra-venta {
        display: grid;
        grid-template-columns: auto auto;
    }

    .sucursal1 {
        padding: 15px 15px;
        margin: 20px 20px;
    }

}



@media screen and (min-width: 1024px) {

    header {
        .navbar .container-fluid {
            align-items: center;
        }
    }


    .guitarra-venta {
        grid-template-columns: auto auto;
    }

    .sucursal1 {
        padding: $padding;
        margin: $margin;
    }

}


@media screen and (min-width: 1440px) {

    .header {
        .navbar .container-fluid {
            align-items: center;
        }
    }

    .guitarra-venta {
        grid-template-columns: auto auto auto auto;
    }

    .sucursal1 {
        padding: $padding;
        margin: $margin;
    }

}